KK_replication_data_h.dta
temp/raw-data/
temp/raw-data
fearon.csv
temp/raw-data/.
ged211.csv
owid-co2-data.csv
.csv
dataverse_files.zip
dataverse_files
Rolling Stone 500 (public).xlsx
Rolling Stone's 500 Greatest Albums 2003 v 2012 v. 2020.xlsx
HDR23-24_Statistical_Annex_HDI_Table.xlsx
HDR23-24_Composite_indices_complete_time_series.csv
CSR Nuclear Weapons Dataset - Consolidated-P5.csv
dhs_daily_report.csv
